<mat-toolbar  color="primary"> <span class="title-center">Bangalore Hotel</span></mat-toolbar>

    <div  class="container responsive-grid">
      <mat-card  *ngFor="let card of hotels"> 
        <mat-card-header>
          
          <mat-card-title hotelName>{{card.name}}</mat-card-title>
          <mat-card-subtitle cuisines>{{card.cuisines}}</mat-card-subtitle>
        </mat-card-header>
        <img
                    mat-card-image
                    [src]="card.feature_image" alt="Card image cap"                 
                  />
        <mat-card-content>
          <p>Rating: <span class="rating-star">{{'★'.repeat((card.rating))}}</span></p>
          <p>Review: {{card.reviews}}</p>
        </mat-card-content>
        <mat-card-actions>
            {{card.id|json}}
            <button mat-raised-button color="warn" (onclick)="getHotel($event)">View Shop</button>
        </mat-card-actions>
      </mat-card>
      </div>
 
  
  
 
 