
.container {
  padding: 24px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

.title-center{
  flex: 1 1 auto;
  text-align: center;
}