<mat-toolbar  color="primary"> <span class="title-center">Chennai Hotel</span></mat-toolbar>
<div class="grid">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>KakadaRamprasad</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets\afternoon-tea.jpg"
    />
    <mat-card-content>
      <p>Mithai, Street Food, North Indian</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">OrderNow</button>
     
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>National Lodge</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/download.jpg"/>
    <mat-card-content>
      <p>Andhra, South Indian</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">OrderNow</button>
   
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Hotel Krishna</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/OIP.jpg"
    />
    <mat-card-content>
      <p>South Indian.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">OrderNow</button>
     
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Board Walk</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/R.jpg"
    />
    <mat-card-content>
      <p>North Indian, Continental</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">OrderNow</button>
      
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Himalayan Peaks</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/rest-rank.jpg"
    />
    <mat-card-content>
      <p>The Himalayas is a mountain range in Asia.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">OrderNow</button>
      
    </mat-card-actions>
  </mat-card>
 
</div>