.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 16px;
  }

  .grid  > mat-card {
    width: 200px;
  }
  .grid > mat-card img {
    max-width: 100%;

  } 

  .div{
    margin-top: 100px;
  }
 
  
  .card img {
    height: 90%;
    width: 50%;
    margin: 2%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #0f9d58;
  background-color: white;
  width: 20%;
  margin-right: 10px;
  padding-bottom: 10px;
}

.title-center{
  flex: 1 1 auto;
  text-align: center;
}