/* registration.component.css */

/* Navigation bar styles */
mat-toolbar {
    display: flex;
    justify-content: space-between; /* Align items at opposite ends */
    align-items: center;
  }
  
  .nav-title {
    font-size: 20px;
    flex-grow: 1; /* Allow the title to grow and take available space */
    text-align: center; /* Center the title text */
  }
  
  .back-button {
    margin-left: 10px; /* Add spacing to the left of the button */
  }
  .chip-container {
    max-width: 400px; /* Set the desired width for the container */
  }
  .mat-mdc-chip-set-stacked {
    max-width: 400px; /* Set the desired width for the chips */
  }
  .centered-container {
    display: flex;
    background-image: url('src\assets\Food_Doodle_Background.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container for the chips */
  .chip-container {
    max-width: 600px;
    align-items: center;
;
    margin-bottom: 20%; /* Set the desired width for the container */
  }
  .button-container {
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
