<mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>home</mat-icon>
  </button>
  <span>Sign up</span>

</mat-toolbar>
<div class="mat-horizontal-stepper-header-container">
<mat-stepper [linear]="true" #stepper>
  <mat-step class="mat-icon" [stepControl]="usernameForm">
    <ng-template matStepLabel>Step 1 - Username</ng-template>
    <form class="form" [formGroup]="usernameForm">
      <ng-template matStepLabel>Step 1 - UserName</ng-template>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginForm">
    <form class="form" [formGroup]="loginForm">
      <ng-template matStepLabel>Step 2 - Email</ng-template>
      
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" placeholder="abc@gmail.com" required>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('email')">Invalid email address.</mat-error>
      
      </mat-form-field>
      
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="passwordForm">
    <form class="form" [formGroup]="passwordForm">
      <ng-template matStepLabel>Step 3 - Password</ng-template>
      
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="passwordForm.get('password').hasError('required')">Password is required.</mat-error>
      </mat-form-field>

      <mat-step [stepControl]="loginForm">
        <form class="form" [formGroup]="loginForm">
          <ng-template matStepLabel>Step 4 - Confirm Password</ng-template>
          
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="passwordForm.get('password').hasError('required')">Password is required.</mat-error>
        <mat-error *ngIf="confirmPasswordForm.hasError('mismatch')">Passwords don't match.</mat-error>
        
          </mat-form-field>
          
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      
        </form>
      </mat-step>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template class="form" matStepLabel>Step 5 - Confirmation</ng-template>
    
    <p>Thank you for signing up!</p>
    
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</div>
